<%- include('partials/header') %>
        <div class="modele_page">
            <div class="unit_description">
                <h2><%=foundModel.name%></h2>
                <div class="details">
                    <p>Date de sortie :<%=foundModel.releasedate%></p>
                    <p>Reference :<%=foundModel.id%></p>
                    <p>Serie :<%=foundModel.series%></p>
                </div>
                <div class="details">
                    <p>Acronyme :<%=foundModel.acronym%></p>
                    <p> Variations :<%=foundModel.variation%></p>
                    <p>Rarete :<%=foundModel.scarcity%>/5</p>
                </div>
                <p><%=foundModel.history%></p>
                <p><%=foundModel.gameplay%></p>
                <p><%=foundModel.secondmode%></p>
                <p><%=foundModel.details%></p>
            </div>
            <div class="unit_photos">
                <h2>Vous avez <%=foundModel.specimens.length%> exemplaire<%if(foundModel.specimens.length > 1){%>s<%}%></h2>
                <%if (foundModel.specimens.length > 0){%>
                    <% foundModel.specimens.forEach (specimen => { %>
                    <img src="/img/front-<%=specimen.id%>.png" alt="Face avant du jeu n <%=specimen.id%>">
                    <% }); %>
                <% } else { %>
                    <p class="missing missing_<%=foundModel.series%>"><%=foundModel.id%></p>
                <% } %>
            </div>
        </div>
    </main>
</body>
</html>